{% extends "base.html" %}

{% block title %}Add Interface{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-8">
            <h1 style="text-align: center;">新增接口</h1>
            <form action="{{ url_for('qa.public_question') }}" method="post">
                <div class="form-group">
                    <input type="text" name="modular" class="form-control" placeholder="请输入接口所属模块">
                </div>
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="请输入接口路径">
                </div>
                <div class="form-group">
                    {#                    <input list="browsers" placeholder="请选择请求方式" classlib="form-control" name="request_method">#}
                    <select class="form-control" name="request_method">
                        <option name="request_method">GET</option>
                        <option name="request_method">POST</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="content" class="form-control" rows="10" placeholder="请输入入参"></textarea>
                </div>

                {% for message in get_flashed_messages() %}
                    <div class="form-group">
                        <div class="text-danger">{{ message }}</div>
                    </div>
                {% endfor %}

                <div class="form-group" style="text-align: right;">
                    <button class="btn btn-primary">发布</button>
                </div>
            </form>

        </div>
        <div class="col"></div>
    </div>
{% endblock %}